{% extends 'base.html.twig' %}

{% block title %}Company Details{% endblock %}

{% block body %}
    <h2>Company Details</h2>

    <p>
        <b>Name : </b>
        {{ company.name }}
    </p>

    {% if company.city %}
        <p>
            <b>City : </b>
            {{ company.city }}
        </p>
    {% endif %}


    {% if company.contacts %}
        <h3>Contacts</h3>
        <ul>
            {% for c in company.contacts %}
            <li>{{ c.firstName }} {{ c.lastName }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
