<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bootstrap-4.5.0/css/bootstrap.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include '_menu.html.twig' %}
        <div class="container-fluid mt-3">
            {% for message in app.request.session.flashBag.get('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
        <script src="{{ asset('jquery-3.5.1.js') }}"></script>
        <script src="{{ asset('bootstrap-4.5.0/js/bootstrap.bundle.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
