{% extends 'base.html.twig' %}

{% block title %}Créer un contact{% endblock %}

{% block body %}
    <h1>Créer un contact</h1>
{% endblock %}

{% block stylesheets %}
    <style>
        body {
            background-color: beige;
        }
    </style>
{% endblock %}