{% extends 'base.html.twig' %}

{% block title %}Contact Delete{% endblock %}

{% block body %}
    <h2>Contact Delete</h2>
    <form method="post">
        <p>Are you sure to delete Jean Dupont ?</p>
        <button class="btn btn-danger" name="confirm" value="yes">Yes</button>
        <button class="btn btn-default" name="confirm" value="no">No</button>
    </form>
{% endblock %}
