{% extends 'base.html.twig' %}

{% block title %}Contact Delete{% endblock %}

{% block body %}
    <h2>Contact Delete</h2>
    <form>
        <p>Are you sure to delete Jean Dupont ?</p>
        <button class="btn btn-danger">Yes</button>
        <button class="btn btn-default">No</button>
    </form>
{% endblock %}
