{% extends 'base.html.twig' %}

{% block title %}AddressBook{% endblock %}

{% block body %}
<h1>Welcome to AddressBook</h1>

    <a href="{{ path('app_contact_list') }}">Liste des contacts</a>

    {{ date() | date('H:i:s') }}
{% endblock %}
